USE [master]
GO
/****** Object:  Database [TecFarmaciaP]    Script Date: 16/12/2022 11:04:00 p. m. ******/
CREATE DATABASE [TecFarmaciaP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FarmaciaPedro', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\FarmaciaPedro.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FarmaciaPedro_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\FarmaciaPedro_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TecFarmaciaP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TecFarmaciaP]
GO
/****** Object:  Table [dbo].[Table_Cliente_con_seguro]    Script Date: 16/12/2022 11:04:00 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_Cliente_con_seguro](
	[No.Cliente] [int] NULL,
	[Aseguradora] [varchar](100) NULL,
	[No.de_polisa] [int] NOT NULL,
	[Producto_que_compro] [varchar](100) NULL,
	[ID_producto_que_conpro] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table_empleado]    Script Date: 16/12/2022 11:04:00 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_empleado](
	[ID_Empleado] [int] NOT NULL,
	[Nombre_Empleado] [varchar](100) NOT NULL,
	[Puesto Empleado] [varchar](100) NULL,
 CONSTRAINT [PK_Table_empleado] PRIMARY KEY CLUSTERED 
(
	[ID_Empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table_Probeedor]    Script Date: 16/12/2022 11:04:00 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_Probeedor](
	[ID_Probedor] [int] NOT NULL,
	[Nombre_del_Probeedor] [varchar](100) NULL,
	[ID_Producto_que_probee] [int] NOT NULL,
	[Correo] [varchar](100) NOT NULL,
	[Telefono] [int] NULL,
 CONSTRAINT [PK_Table_Probeedor] PRIMARY KEY CLUSTERED 
(
	[ID_Probedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table_Producto]    Script Date: 16/12/2022 11:04:00 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_Producto](
	[ID_Producto] [int] NOT NULL,
	[Nombre_Producto] [varchar](100) NOT NULL,
	[Precio_Producto] [int] NOT NULL,
	[Probeedor Producto] [varchar](100) NULL,
	[ID_Probeedor_Producto] [int] NOT NULL,
 CONSTRAINT [PK_Table_Producto] PRIMARY KEY CLUSTERED 
(
	[ID_Producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table_Sucursal]    Script Date: 16/12/2022 11:04:00 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_Sucursal](
	[ID_sucursal] [int] NOT NULL,
	[Localidad] [varchar](100) NULL,
	[Inventario] [int] NOT NULL,
 CONSTRAINT [PK_Table_Sucursal] PRIMARY KEY CLUSTERED 
(
	[ID_sucursal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
